# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

*.cs             text eol=lf diff=csharp
*.md             text eol=lf diff=markdown
*.sh             text eol=lf

# Windows-only script formats that require CRLF.
*.bat            text eol=crlf
*.cmd            text eol=crlf
